{% extends 'home.html' %}

{% block content %}
    <form action="{% url 'busqueda' %}" method="post">
    {% csrf_token %}
    <input type="text" class="searchTerm" name="query" value="{{ query }}" id="query"> <button type="submit" class="button">Buscar</button>
    </form>

    {% for productos in querySearch %}
        <h3>{{ productos.nombre }}  -->>  {{ productos.precio }}</h3>
    {% endfor %}

{% endblock %}