{% extends 'home.html' %}

{% block content %}
    <form action="{% url 'crear-producto' %}" method="post">
    {% csrf_token %}
    {{ form }}
        <button type="submit">GUARDAR</button>
    </form>
{% endblock %}