<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Hola Django Tutorial </h1>
          <hr class="mt-0 mb-4">
          {% block content %}
              <a href="{% url 'listarProductos' %}" class="button"> Lista de Productos </a>
              <a href="{% url 'sumaStocks' %}" class="button"> Suma de Stocks</a>
              <a href="{% url 'busqueda' %}" class="button">    Busqueda</a>

              <a href="{% url 'crear-producto' %}">Crear Producto</a>
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>