{% extends 'home.html' %}

{% block content %}
    {% load static %}
    <h2>Aqui la lista de productos.</h2>

    <h3>Productos</h3>

    <a href="">dulces</a>
    <table hidden="false">

    </table>
    {% for producto in productos %}
        <h4>{{ producto.nombre }}</h4>
    {% endfor %}

    <h3>categorias</h3>

    {% for categoria in categorias %}
        <h4>{{ categoria.nombre }}</h4>
    {% endfor %}

{% endblock %}